In [0]:
import sys
import pandas
import numpy as np
import random as rn
import os
import tensorflow as tf
from keras import backend as K
# Set up random seed to
# get the same results every
# time you train your model.
rs=5

np.random.seed(rs)
rn.seed(rs)
tf.set_random_seed(rs)
K.set_session(sess)

In [0]:
data=pandas.read_csv("data/airline_data.csv", header=2)

In [0]:
data

     Country Name Country Code  ...        2017 Unnamed: 62
0           Aruba          ABW  ...         NaN         NaN
1     Afghanistan          AFG  ...   1858558.0         NaN
2          Angola          AGO  ...   1581201.0         NaN
3         Albania          ALB  ...    103151.0         NaN
4         Andorra          AND  ...         NaN         NaN
..            ...          ...  ...         ...         ...
259        Kosovo          XKX  ...         NaN         NaN
260   Yemen, Rep.          YEM  ...    132571.0         NaN
261  South Africa          ZAF  ...  20821044.0         NaN
262        Zambia          ZMB  ...    154573.0         NaN
263      Zimbabwe          ZWE  ...    282539.0         NaN

[264 rows x 63 columns]

In [0]:
def get_raw_xy(data, column='Country Name', value='World'):
    v=data.loc[data[column] == value].iloc[:,17:62]
    x=[ v for v in v.values.astype('float32')[0] ]
    return x, [ int(vv) for vv in v.columns ]

In [0]:
def get_vpo(values, goback = 1):
    yy=[np.nan]*len(values)
    for i, v in enumerate(values):
        if i+goback>len(values)-1:
            break
        yy[i+goback] = [values[f] for f in range(i, i+goback)]
        
    return yy

In [0]:
def get_data(f='data/airline_data.csv', logme=lambda x:x):
    # Reading our data, skipping 2 lines of comments.
    d=pandas.read_csv(f, header=2)
    values, years = get_raw_xy(d)
    logme('Raw values')
    rv=list(zip(years, values))
    logme(rv)
    # To base prediction on more that year's value in the past
    # replace get_vpo with get_vpo2
    # and set goback parameter as the same as inputs in an entry
    # entry in confs inside train.py
    past_values=get_vpo(values)
    logme("Previous year's values X/ this year's value Y")
    logme("For every value from X expect value from Y")
    dpo=list(zip([1972]+years, past_values, years, values))
    logme(dpo)
    return years[1:], past_values[1:], values[1:]

In [0]:
from pprint import pprint
get_data(logme=pprint)

'Raw values'
[(1973, 401571800.0),
 (1974, 421145200.0),
 (1975, 432276500.0),
 (1976, 471773400.0),
 (1977, 513269280.0),
 (1978, 576090000.0),
 (1979, 648400600.0),
 (1980, 641872900.0),
 (1981, 640619400.0),
 (1982, 654482100.0),
 (1983, 685101600.0),
 (1984, 732410300.0),
 (1985, 783198100.0),
 (1986, 842594300.0),
 (1987, 904838100.0),
 (1988, 953896000.0),
 (1989, 983208800.0),
 (1990, 1024976640.0),
 (1991, 1133228200.0),
 (1992, 1145436700.0),
 (1993, 1142265200.0),
 (1994, 1233233400.0),
 (1995, 1302891600.0),
 (1996, 1390963700.0),
 (1997, 1455104300.0),
 (1998, 1466961800.0),
 (1999, 1562256300.0),
 (2000, 1674064800.0),
 (2001, 1655230200.0),
 (2002, 1627404900.0),
 (2003, 1665309300.0),
 (2004, 1888695300.0),
 (2005, 1969590800.0),
 (2006, 2072414000.0),
 (2007, 2209136400.0),
 (2008, 2208218600.0),
 (2009, 2249728500.0),
 (2010, 2628261400.0),
 (2011, 2786953700.0),
 (2012, 2894055000.0),
 (2013, 3048275200.0),
 (2014, 3227291400.0),
 (2015, 3466478600.0),
 (2016, 3705101800.0),
 (2017, 3978849300.0)]
"Previous year's values X/ this year's value Y"
'For every value from X expect value from Y'
[(1972, nan, 1973, 401571800.0),
 (1973, [401571800.0], 1974, 421145200.0),
 (1974, [421145200.0], 1975, 432276500.0),
 (1975, [432276500.0], 1976, 471773400.0),
 (1976, [471773400.0], 1977, 513269280.0),
 (1977, [513269280.0], 1978, 576090000.0),
 (1978, [576090000.0], 1979, 648400600.0),
 (1979, [648400600.0], 1980, 641872900.0),
 (1980, [641872900.0], 1981, 640619400.0),
 (1981, [640619400.0], 1982, 654482100.0),
 (1982, [654482100.0], 1983, 685101600.0),
 (1983, [685101600.0], 1984, 732410300.0),
 (1984, [732410300.0], 1985, 783198100.0),
 (1985, [783198100.0], 1986, 842594300.0),
 (1986, [842594300.0], 1987, 904838100.0),
 (1987, [904838100.0], 1988, 953896000.0),
 (1988, [953896000.0], 1989, 983208800.0),
 (1989, [983208800.0], 1990, 1024976640.0),
 (1990, [1024976640.0], 1991, 1133228200.0),
 (1991, [1133228200.0], 1992, 1145436700.0),
 (1992, [1145436700.0], 1993, 1142265200.0),
 (1993, [1142265200.0], 1994, 1233233400.0),
 (1994, [1233233400.0], 1995, 1302891600.0),
 (1995, [1302891600.0], 1996, 1390963700.0),
 (1996, [1390963700.0], 1997, 1455104300.0),
 (1997, [1455104300.0], 1998, 1466961800.0),
 (1998, [1466961800.0], 1999, 1562256300.0),
 (1999, [1562256300.0], 2000, 1674064800.0),
 (2000, [1674064800.0], 2001, 1655230200.0),
 (2001, [1655230200.0], 2002, 1627404900.0),
 (2002, [1627404900.0], 2003, 1665309300.0),
 (2003, [1665309300.0], 2004, 1888695300.0),
 (2004, [1888695300.0], 2005, 1969590800.0),
 (2005, [1969590800.0], 2006, 2072414000.0),
 (2006, [2072414000.0], 2007, 2209136400.0),
 (2007, [2209136400.0], 2008, 2208218600.0),
 (2008, [2208218600.0], 2009, 2249728500.0),
 (2009, [2249728500.0], 2010, 2628261400.0),
 (2010, [2628261400.0], 2011, 2786953700.0),
 (2011, [2786953700.0], 2012, 2894055000.0),
 (2012, [2894055000.0], 2013, 3048275200.0),
 (2013, [3048275200.0], 2014, 3227291400.0),
 (2014, [3227291400.0], 2015, 3466478600.0),
 (2015, [3466478600.0], 2016, 3705101800.0),
 (2016, [3705101800.0], 2017, 3978849300.0)]

([1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 [[401571800.0],
  [421145200.0],
  [432276500.0],
  [471773400.0],
  [513269280.0],
  [576090000.0],
  [648400600.0],
  [641872900.0],
  [640619400.0],
  [654482100.0],
  [685101600.0],
  [732410300.0],
  [783198100.0],
  [842594300.0],
  [904838100.0],
  [953896000.0],
  [983208800.0],
  [1024976640.0],
  [1133228200.0],
  [1145436700.0],
  [1142265200.0],
  [1233233400.0],
  [1302891600.0],
  [1390963700.0],
  [1455104300.0],
  [1466961800.0],
  [1562256300.0],
  [1674064800.0],
  [1655230200.0],
  [1627404900.0],
  [1665309300.0],
  [1888695300.0],
  [1969590800.0],
  [2072414000.0],
  [2209136400.0],
  [2208218600.0],
  [2249728500.0],
  [2628261400.0],
  [2786953700.0],
  [2894055000.0],
  [3048275200.0],
  [3227291400.0],
  [3466478600.0],
  [3705101800.0]],
 [421145200.0,
  432276500.0,
  471773400.0,
  513269280.0,
  576090000.0,
  648400600.0,
  641872900.0,
  640619400.0,
  654482100.0,
  685101600.0,
  732410300.0,
  783198100.0,
  842594300.0,
  904838100.0,
  953896000.0,
  983208800.0,
  1024976640.0,
  1133228200.0,
  1145436700.0,
  1142265200.0,
  1233233400.0,
  1302891600.0,
  1390963700.0,
  1455104300.0,
  1466961800.0,
  1562256300.0,
  1674064800.0,
  1655230200.0,
  1627404900.0,
  1665309300.0,
  1888695300.0,
  1969590800.0,
  2072414000.0,
  2209136400.0,
  2208218600.0,
  2249728500.0,
  2628261400.0,
  2786953700.0,
  2894055000.0,
  3048275200.0,
  3227291400.0,
  3466478600.0,
  3705101800.0,
  3978849300.0])

In [0]:
from keras.models import Sequential, load_model
from keras.layers import Dense

import math
import os
import sys
import pickle

In [0]:
def get_mlp(inputs=1):
    model = Sequential()
    # input_dim is our input layer
    # A number of neurons here is equal
    # to the number of values we're using for
    # prediction, which is just 1
    #
    # Next is our hidden layer, number of neurons
    # should be between number of neurons in
    # input and output layers, here we have 1 again
    #
    # Activation function is one of key component
    # in the way our network will learn.
    # Rectified linear unit (ReLU) or Rectifier
    # activation function is a great default choice
    # for most problems.
    model.add(Dense(1, input_dim=inputs, activation='relu'))
    # Last layer is our output layer
    # Number of neurons here is the same
    # as number of output values
    # Here we just want to get one prediction,
    # so just one neuron here
    model.add(Dense(1))
    return model

In [0]:
model=get_mlp
inputs=1

In [0]:
def train_test_split(rawx, xpo):
    train_size=int(len(rawx)*0.80)
    test_size=int(len(rawx)*0.20)
    #print(train_size, test_size, len(rawx))
    train_x, train_y = np.array(rawx[:train_size]), np.array(xpo[:train_size])
    test_x, test_y = np.array(rawx[train_size:]), np.array(xpo[train_size:])
    return train_x, train_y, test_x, test_y

In [0]:
def train_model(train_x, train_y, epochs=5, batches=1):
    model=get_mlp
    inputs=1
    model=model(inputs)
    # Loss is our loss or cost function - mean_squared_error
    # is a good choice assuming we don't have a lot of "outliers"
    # in our dataset.
    # Adam optimizer works great for most problems.
    #
    # Metrics are loss metrics that we want to have available for each epoch,
    # so we can review how are we doing at each training stage.
    # mse is mean_squared_error, mpe is mean_absolute_percentage_error
    model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mse','mape'])
    # Here we're starting our training
    history=model.fit(train_x, train_y, verbose=2, epochs=epochs, batch_size=batches)
    return model, history

In [0]:
years, past_values, values=get_data()
X, Y = past_values, values
train_x, train_y, test_x, test_y = train_test_split(X, Y)
model, history=train_model(train_x, train_y)
# X[-1:], Y[-1:]

Epoch 1/5
 - 2s - loss: 461563078022573952.0000 - mean_squared_error: 461563078022573952.0000 - mean_absolute_percentage_error: 52.1797
Epoch 2/5
 - 0s - loss: 360383403135823296.0000 - mean_squared_error: 360383403135823296.0000 - mean_absolute_percentage_error: 45.9086
Epoch 3/5
 - 0s - loss: 278578115758784512.0000 - mean_squared_error: 278578115758784512.0000 - mean_absolute_percentage_error: 40.5697
Epoch 4/5
 - 0s - loss: 215586637005410432.0000 - mean_squared_error: 215586637005410432.0000 - mean_absolute_percentage_error: 35.5369
Epoch 5/5
 - 0s - loss: 166288440906983488.0000 - mean_squared_error: 166288440906983488.0000 - mean_absolute_percentage_error: 30.7228

In [0]:
np.array(values[-2:])

array([3.7051018e+09, 3.9788493e+09], dtype=float32)

In [0]:
model.predict(np.array(values[-1:]))

array([[5.366744e+09]], dtype=float32)